.list-group {
     
    
    float:left;
    background:#f7f7f7;
   
    width: 250px;
   
  
   }

   .five ui buttons{
    padding-left:20px;
   }

   .two{
    width: 915px;
   }


   .list-group-item{
    background:#f7f7f7;
 
   }
   .lead {
    
  
    left:0;
    right:0;
    
   }

   .container{

 
    overflow:right;
    padding-left:40px;

   }

   .ButtonView{
    padding-left:1px;
   }